
<div class="ibox float-e-margins" style="background: white;padding: 10px">
    <!-- 表单标题概要 -->
    <div class="ibox-title">
        <h5>添加轮播图</h5>
    </div>
    <div class="btn-group">
        <a class="btn btn-info" type="button" href="javascript:history.go(-1);">返回</a>
    </div>
    <form class="form-horizontal" role="form" action="{:url('lunbo/addform')}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="typeid" value="{$typeid}"/>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">轮播图的描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" name="lunbo_describe" placeholder="可以不填" >
            </div>
        </div>
        <div class="form-group">
            <label for="name7" class="col-sm-2 control-label">上传图片</label>
            <div class="col-sm-10">
                <input type="file" id="name7" name="file" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

