
<div class="ibox float-e-margins" style="background: white;padding: 10px">
    <!-- 表单标题概要 -->
    <div class="ibox-title">
        <h5>添加版本信息</h5>
    </div>
    <div class="btn-group">
        <a class="btn btn-info" type="button" href="javascript:history.go(-1);">返回</a>
    </div>
    <form class="form-horizontal" role="form" action="{:url('version/addform')}" method="post" >
        <div class="form-group">
            <label for="name1" class="col-sm-2 control-label">版本号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name1" name="v_number" placeholder="请输入版本号" >
            </div>
        </div>
        <div class="form-group">
            <label for="name2" class="col-sm-2 control-label">版本描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="name2" name="v_info"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

