
<div class="ibox float-e-margins" style="background: white;padding: 10px">
    <!-- 表单标题概要 -->
    <div class="ibox-title">
        <h5>修改产品</h5>
    </div>
    <div class="btn-group">
        <a class="btn btn-info" type="button" href="javascript:history.go(-2);">返回</a>
    </div>
    <form class="form-horizontal" role="form" action="{:url('product/doEditform')}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="p_id" value="{$pid}"/>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">产品名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" name="product_name" value="{$pinfo.product_name}" maxlength="10">
            </div>
        </div>
        <div class="form-group">
            <label for="name1" class="col-sm-2 control-label">产品描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name1" name="product_describe" value="{$pinfo.product_describe}" maxlength="200">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="name3" class="col-sm-2 control-label">产品标签</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="name3" name="product_label" value="{$pinfo.product_label}" maxlength="10">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label  class="col-sm-2 control-label">产品标签</label>
            <div class="col-sm-10">
                <select class="form-control " name="product_label">
                    <option  value="特惠装">特惠装</option>
                    <option  value="体验装">体验装</option>
                    <option  value="绵阳包邮">绵阳包邮</option>
                    <option  value="特产">特产</option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="name4" class="col-sm-2 control-label">产品规格</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="name4" name="product_norms" value="{$pinfo.product_norms}" >-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label  class="col-sm-2 control-label">产品规格</label>
            <div class="col-sm-10" >
                <div style=" width: 200px;">
                    <input type="text" class="form-control" style="width: 200px" disabled="disabled" id="name4" name="product_guige" onkeyup="this.value=this.value.replace(/\D/g,'')" value="{$guige}" placeholder="请输入数字" >
                </div>

                <!--<div style="width: 200px; float: left;" >-->
                    <!--<select style="width: 200px; float: left" class="form-control " name="product_norms">-->
                        <!--<option  value="ml" {if condition="'ml'"} selected{/if}>ml</option>-->
                        <!--<option  value="L" {if condition="'L'"} selected {/if}>L</option>-->
                        <!--<option  value="g" {if condition="'g'"} selected {/if}>g</option>-->
                        <!--<option  value="kg" {if condition="'kg'"} selected {/if}>kg</option>-->
                        <!--<option  value="个" {if condition="'个'"} selected {/if}>个</option>-->
                    <!--</select>-->
                <!--</div>-->

            </div>
        </div>
        <div class="form-group">
            <label for="name5" class="col-sm-2 control-label">产品价格</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name5" name="product_price" value="{$pinfo.product_price}" onkeyup="value=value.replace(/[^\d\.]/g,'')">
            </div>
        </div>

        <div class="form-group">
            <label for="name6" class="col-sm-2 control-label">产品数量</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name6" name="product_num" value="{$pinfo.product_num}" onkeyup="this.value=this.value.replace(/\D/g,'')">
            </div>
        </div>
        <div class="form-group">
            <label for="name7" class="col-sm-2 control-label">卖家电话或QQ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name7" name="contact" value="{$pinfo.contact}" onkeyup="this.value=this.value.replace(/\D/g,'')">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">上传图片(会覆盖原来图片)</label>
            <div class="col-sm-10">
                <input type="file"  name="file[]" >
                <input type="file"  name="file[]" >
                <input type="file"  name="file[]" >
                <input type="file"  name="file[]" >
                <input type="file"  name="file[]" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>
